@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* .tox-tinymce {
    height: 400px !important;
} */

.tox-statusbar {
    visibility: hidden !important;
    background-color: white;
}

